@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.corpo{
    background-image: url(imagens/background-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color: #3193c1;
    width: 100%;
    height: 80px;
    padding: 20px;
}

.cabecalho>img {
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.cabecalho>h1 {
    display: flex;
    font-size: 2.0rem;
    padding: 10px;
    color: #FFF
}

#titulo {
    font-family: Caveat;
}

.nav {
    background-color: #80bedb47;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: 0.2s ease;
}

a:hover {
    color: rgba(227, 222, 222, 0.533);
}

.corpo {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: whitesmoke;
    width: 700px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 6px 6px 4px -4px #3193c1, -6px 0 4px -4px transparent;
}

.left-side-form {
    width: 300px;
    left: 25px;
}

.right-side-form {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    position: absolute;
    right: 0;
    top: -5px;
    font-family: Caveat;
}

form {
    position: absolute;
    transition: .5s;
    width: 300px;
    height: 400px;
}

.right-side-form >h1{
    position: absolute;
    font-size: 2.5rem;
    padding: 10px;
    top: 80px;
    color: #FFF;
    font-family: Caveat;
}

.img-login{
    width: 100%;
    object-fit: cover;
    height: 600px;
}

.buttonsForm {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #3193c1;
    width: fit-content;
    left: -130px;
}

.buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
}

.btnColor {
    position: absolute;
    width: 108px;
    height: 100%;
    background: linear-gradient(to right, #3193c1, #58c9fd);
    border-radius: 30px;
    transition: .3s;
}

input[type="text"],
input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
}

button[type="submit"] {
    background: #3193c1;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
}

.divCheck {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 13px;
}

#signin {
    left: 25px;
}

#signup {
    left: 450px;
}

i {
    position: absolute;
    left: 0;
    padding: 10px 10px;
}

.iEmail {
    top: 40px;
}

.iPassword {
    top: 114px;
}

.iPassword2 {
    top: 190px;
}